
<div class="marker">
  <h2 class="map-spot-name"><%= spot.name %></h2>
<!--   <p class="map-spot-sun-hours"><%#= spot.time_difference[:hour] %><%#= spot.time_difference[:minutes] %>h of sun</p>
 --></div>
