
<div class="marker">
  <h2 class="map-spot-name"><%= spot.name %></h2>
  <div class="sun-hours-map d-flex justify-content-center">
    <p class="map-spot-sun-hours" style="font-weight: 100;"><%= spot.time_difference[:hour] %><%= spot.time_difference[:minutes] %>h of sun</p>
  </div>
</div>

