

<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <form class="d-flex align-items-center" id = "city-form">
        <!-- <input type="text" id="city-input" placeholder="Enter city"> -->
         <select id="city-input" class="select2 form-control"></select>
        <input type="submit" value="Get the weather" class="btn btn-primary">
      </form>
      <div class="card mt-4 mb-5">
        <div class="card-body">
          <h1>Weather in <span id="city"></span></h1>
          <h3 id="date" class="gray-text"></h3>
          <div id="weather">
            <p id="description"></p>
            <div class="d-flex">
              <img src="" alt="Weather Icon" id="icon">
              <h2 id="temperature"></h2>
            </div>
          </div>
        </div>
      </div>
      <a href="" class="btn btn-main w-100 mb-3" id="current-location" style="font-size: 12px;">Get weather in your current city</a>
      <a class="btn-navy mb-1 w-100 d-flex justify-content-center" href="/spots/randomise" style="font-size: 12px;">Go to randomiser</a>

    </div>
  </div>
</div>


