<p id="notice"><%= notice %></p>

<h1>Spots</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Picture</th>
      <th>sun start</th>
      <th>sun end</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
