// Define variables for your color scheme

// For example:
$red: #FD1015;

$light-blue: #BBDEF0;
$dark-blue: #243860;
$yellow: #FFED87;
$background-blue: #F5FCFF;
$background-yellow: #FFFEF9;
$gray: #D3D4DA;
$light-gray: #F4F4F4;

$orange: #E67E22;
$green: #1EDD88;

