// Specific CSS for your home-page

h2 {
  color: black;
}

.homepage-body {
  background-color: #F5FCFF;
}

#description {
  font-size: 16px;
  margin-bottom: 0;
}


#city-input {
  border-radius: 8px;
  border-color: #D3D4DA;
}
