// Specific CSS for your home-page

.logo {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 0px
}

h2 {
  color: black;
}

.homepage-body {
  background-color: #F5FCFF;
  display:flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  overflow-y:auto;
  overflow-x: hidden;
}

// .homepage-body {
//   background-color: #F5FCFF;
// }
#description {
  font-size: 16px;
  margin-bottom: 0;
}


#city-input {
  border-radius: 8px;
  border-color: #D3D4DA;
}
