
<!-- <p id="Profile"><%= Profile  %></p>

<p>
  <strong>Name:</strong>
  <#%= @user.name %>
</p>

<p>
  <strong>email:</strong>
  <#%= @user.email %>
</p> -->

<!-- <p>
  <strong>Reviews</strong>
  <#% @user.reviews.each do |review| %>
  <div>
    <em>"<#%= review.content %>"</em>
    <#%= link_to "Destroy review", review_path(review), method: :delete, data: {confirm: "Are your sure?"}  %>
  </div>
  <#% end %>
</p>

<%#= link_to 'Edit', edit_user_path(@user) %> |
<%#= link_to 'Back', user_path %> -->

