
<body class="homepage-body">
  <div class="navbar navbar-expand-sm navbar-light navbar-top mt-3">
    <%= link_to "#", class: "avatar-bordered" do %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ThesiW", height: '100%' %>
    <% end %>
  </div>
  <h2 class="d-flex justify-content-start pl-3">Welcome!</h2>

<!-- Samir's Weather API -->
  <div class="container mt-3">
    <form class="d-flex justify-content-start" id="city-form">
      <!-- <input type="text" id="city-input" placeholder="Enter city"> -->
       <input class="w-200" id="city-input" placeholder="Stockholm"></input>
      <input type="submit" value="Search" class="btn btn-navy-city">
    </form>
    <h3 class="mt-2" style="color: black; font-size: 18px;">Weather in <span id="city" ></span>:</h3>
  </div>

<!-- Thesi's code: -->
  <div class="container mt-2">
    <div class="row">
      <div class="col-12 col-md-12 offset-md-3">
        <div class="today-card container grid-container mr-3 mt-0">
          <div class="">
            <!-- Today's Date -->
            <h3 id="date" class="gray-text"></h3>
            <span class="sun d-flex justify-content-center pt-1" style="font-size: 50px;">
             <!--  &#9728; -->
              <div id="weather">
                <div class="d-flex ">
                  <img src="" alt="Weather Icon" id="icon" heigth="100" width="100">
                  <p class="pl-3 m-0" id="temperature"></p>
                </div>
                <p id="description"></p>
              </div>
            </span>
             <!--Temperature Today   -->
          </div>

          <div class="weather-cards d-flex justify-content-between">
            <div class="weather-card">
              <h3>Sat</h3>
              <span class="rain d-flex justify-content-center" style="font-size: 50px;">&#9730;</span>
              <p class="m-0">23°C</p>
            </div>
            <div class="weather-card">
              <h3>Sun</h3>
              <span class="cloud d-flex justify-content-center" style="font-size: 50px; display: block;">&#9729;</span>
              <p class="m-0">18°C</p>
            </div>
            <div class="weather-card">
              <h3>Mon</h3>
              <span class="cloud d-flex justify-content-center" style="font-size: 50px; display: block;">&#9728;</span>
              <p class="m-0">12°C</p>
            </div>
          </div>
        </div>



        <div class="button-card container grid-container mr-3 mt-3">
          <h3 class="mb-0 pt-3">Never miss the sun.</h3>
          <h3 class="pt-0 mb-4 pt-1">Let's find a sunny spot!</h3>
          <a class="btn-main mb-1 d-flex justify-content-center mb-3" href="/spots">Show me all sunny spots!</a>

                <!-- Samir check specific spot with search bar css is in -search buttom -->

          <div class="btn-main mb-1 d-flex justify-content-center search-btn" id="search-btn" >Check specific spot</div>
            <div id="input" class="search-icon-wraper">
              <%= form_tag spots_path, method: :get do %>
                  <%= text_field_tag :query,
                    params[:query],
                    class: "mb-1 d-flex justify-content-center search",
                      id: "city-auto-complete"
                  %>
                  <i id="submit-icon" class="fas fa-search search-icon"></i>
                <% end %>
            </div>


              <!-- [...] -->


          <!-- <div class="form-home form-inline">
            <%#= simple_form_for spots_path do |f| %>
              <%#= f.input :address, placeholder: "Enter location" %>
              <%#= f.submit class: 'btn btn-navy' %>
            <#% end %>
          </div> -->
        </div>
    </div>
  </div>
</body>









