.btn-main {
  color: black;
  background-color: #BBDEF0;
  border: 2px solid #BBDEF0;
  border-radius: 4px;
  padding: 12px;
  text-transform: uppercase;
  box-shadow: 2px 3px 4px grey;
}

.btn-navy {
  color: white;
  background-color: #243860;
  border: 2px solid #243860;
  border-radius: 4px;
  padding: 12px;
  text-transform: uppercase;
  box-shadow:2px 3px 4px grey;
}

.submit-search{
  position: absolute;
  bottom: -39px;
  right: 0px;
  // color: white;
  // background-color: #243860;
  // border-radius: 4px;
  // padding: 12px;
  // text-transform: uppercase;
  // box-shadow:2px 3px 4px grey;

}



