#city-form {
  height: 30px;
}

#city-input {
  width: 200px;
}


.btn-navy-city {
  color: white;
  background-color: #243860;
  border: 2px solid #243860;
  border-radius: 4px;
  text-transform: uppercase;
  height: 100%;
  font-size: 12px;
  margin-left: 5px;
  width: 100%;
}
