.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: white!important;
  box-shadow: 2px 6px 9px -4px !important;
  border-radius: 8px!important;
  height: 75px;
}


.mapboxgl-marker {
  color: white!important;
}

.map-spot-name {
  font-size: 18px;
  font-weight: 600;
}

.map-spot-sun-hours {
  font-weight: 200;
  font-size: 15px;
}

