
/* Place the navbar at the bottom of the page, and make it stick */
.navbar-bottom {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;

}

/* Style the links inside the navigation bar */
.navbar-bottom a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 30px;
  border: none;
  background: transparent;
  color: #91989B;
}


.navbar-bottom span {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 30px;
  border: none;
  background: transparent;
  color: #91989B;
}

/* Change the color of links on hover */
.navbar-bottom a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar-bottom a.active {
  background-color: #243860;
  color: white;
}


.fa:hover {
  color: #747D81;
}

.fas:hover {
  color: #747D81;
}

