#myProgress {
  width: 100%;
  background-color: #F5FCFF;
  box-shadow: 8px 8px 13px 2px #D3D4DA;
  border-radius: 16px;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #FFED87;
  text-align: center;
  line-height: 30px;
  color: #243860;
  border-radius: 16px;

}
