
.container {
  position: relative;

}

.search-btn {
  position: absolute;
 z-index: 4;
 width: 91%;

}
.search {
  position: absolute;
  z-index: 1;
  width:100%;
  border: 2px solid #BBDEF0;
  border-radius: 4px;
  background-color:transparent;
  padding: 12px;
}

.hidden {
   visibility: hidden;
}

.search-icon-wraper{
  position: relative;

.search-icon {
    position: absolute;
    z-index: 3;
    font-size: 30px;
    width: auto;
    right: 0;
    color: grey;
    padding: 10px;
}
}
