
.container {
  position: relative;

}
.search-container {
  position: relative;

}
.search-btn {
  position: relative;
 z-index: 4;
 width: 100%;

 &.hidden {
   visibility: hidden;
   }

}
.search {
  position: absolute;
  z-index: 1;
  width:100%;
  border: 2px solid #BBDEF0;
  border-radius: 4px;
  background-color:transparent;
  padding: 12px;
}

.search-icon-wraper{
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  top: 0;

.search-icon {
    position: absolute;
    z-index: 3;
    font-size: 20px;
    width: auto;
    right: 0;
    color: grey;
    padding: 7px;
    margin-top: 2px;
    margin-right: 1px;
      background-color:white;

}
}
